*{margin:0;padding:0;}
h1{font-weight: 100;font-size:2.5em;}
body h1 {
	font-family: 'Roboto', sans-serif;
}

body{
	overflow-x: hidden;
}

.wrapper img{  width: 100%;
	
}
.block-text{
	width: 20%;
	height: 10%;
	margin-top:-50%;
	margin-left:13.222%;
	
  }
  #block-text{
  width: 5%;
  height: 15%;
  margin-top:10%;
  margin-left:3%;
  
  }
  .block-text-3{
  	width: 26%;
	height: 20%;
	margin-top:-15.5%;
	margin-left:17.7%;
   
  }
  .iphone{
  	width: 40%;
	height: 70%;
	margin-top:-20%;
	margin-left:53%;
	position:absolute;
	
  }
  .floor-shadow{
  	
  	margin-left:20%;
  	margin-top:28%;
  	z-index: 100
  }
  #wrapper-container-text{
  max-width:1170px;
margin:0 auto ;
overflow: hidden;

}

#container-text{
 
 -webkit-column-width: 15em;
  -moz-column-width: 15em;
  column-width: 15em;
-webkit-column-count: 4; 
-moz-column-count: 4; 
column-count:4 ;

max-width:1170px;
margin:0 auto ;
overflow: hidden;
  


}
  #wrapper-container-text>h1{
  margin-top:100px;
  font-weight: 600;
  -webkit-column-span: all; 
 
} 
.container-start{
	max-width:1170px;
	/*height: 480px;*/
    margin:-10% auto 100px; ;
    overflow: hidden;
	/*border-left: 1px solid red;
	border-right:  1px solid red;*/
	/*border:1px solid red;*/
	display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
}
.left-text-block{
	max-width: 570px;
	/*height: 500px;*/
	/*border:1px solid red;*/

}
.left-text-block h1{
	margin-top:120px;
	font-weight: 600;
	padding:10px;
}
.left-text-block p{
	margin-top:0px;
	line-height: 1.5em;
	color:#999999;
	padding:10px;

	/*border:1px solid black;*/
}
.right-text-block{
	max-width: 570px;
	min-width: 300px;
	/*height: 100px;*/
	/*float:right;*/
	/*border:1px solid green;*/
  /*  margin-left:600px;*/
   /* margin-top:300px;*/
    margin-bottom: 0px;
   /* float:left;*/
}
.right-text-block p{
	/*margin:0 10px 0;*/
	line-height: 1.5em;
	color:#999999;
	padding:10px;

	/*border:1px solid black;*/
}
             /*  tablets*/

.containers-tablets{
   /* margin-left:6.4%;*/
   margin:0 auto;
	max-width: 1200px;
/*	height: 1000px;*/
	/*border:1px solid red;*/
	display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.block1 {
    background-color: #F08080;
	width: 400px;
	height: 275px;	
}
.block1 h1{
	color:#FFFAFA;
	position:static;

	margin-top:30px;
	margin-left:40px;
}
.block1  p{
	color:#FFFAFA;
	position:relative;
    padding-top:35px;

    max-width:300px;
	top:0px;
	left:40px;
	line-height: 1.5em;
	
}
.block1  p+p{
	font-weight:600;
	font-size: 1.1em;
	}
.block2{
	background-color: #8B658B;
	width: 400px;
	height: 275px;	
	/*border:1px solid red;*/
}
.block2 h1{
	color:#FFFAFA;
	position:static;
	margin-top:30px;
	margin-left:40px;
}
.block2  p{
	color:#FFFAFA;
	position:relative;
    padding-top:35px;
    width:300px;
	top:0px;
	left:40px;
	line-height: 1.5em;
}
.block2  p+p{
	font-weight:600;
	font-size: 1.1em;
}
.block3{
	background-image:url(img/box3.png);
	width: 400px;
	height: 275px;
	margin-top: 0px;

	/*border:1px solid red;*/
}
.block3 h1{
	color:#FFFAFA;
	position:static;
	margin-top:30px;
	margin-left:40px;
}
.block3  p{
	color:#FFFAFA;
	position:relative;
    padding-top:35px;
    width:300px;
	top:0px;
	left:40px;
	line-height: 1.5em;
}
.block3  p+p{
	font-weight:600;
	font-size: 1.1em;
}
.block4{
	background-image:url(img/box4.png);
	width: 800px;
	height: 275px;
	margin-top: -1px;
	/*border:1px solid red;*/
}
.block4 h1{
	color:#FFFAFA;
	position:static;

	margin-top:30px;
	margin-left: 40px;
	
}
.block4  p{
	color:#FFFAFA;
	position:relative;
    padding-top:35px;
    width:300px;
	top:0px;
	left:40px;
	line-height: 1.5em;
}
.block4  p+p{
	font-weight:600;
	font-size: 1.1em;
}
.block5{
	background-color: #66CDAA;
	width: 400px;
	height: 275px;
	margin-top: -1px;

	/*border:1px solid red;*/
}
.block5 h1{
	color:#FFFAFA;
	position:static;

	margin-top:30px;
	margin-left:40px;
}
.block5  p{
	color:#FFFAFA;
	position:relative;
    padding-top:35px;
    width:300px;
	top:0px;
	left:40px;
	line-height: 1.5em;
}
.block5  p+p{
	font-weight:600;
	font-size: 1.1em;
}
                   
                 /*   text block*/



#wrapper-container-text{
  max-width:1170px;
  margin:0 auto ;


}

#container-text{
 
 -webkit-column-width: 15em;
  -moz-column-width: 15em;
  column-width: 15em;
-webkit-column-count: 4; 
-moz-column-count: 4; 
column-count:4 ;
margin-bottom: 100px;
}
#container-text p{
	color:	#8B8989;
	margin-top:10px;
	padding:10px;
	line-height: 1.5em;
}


#wrapper-container-text>h1{
	padding:10px;
  margin-top:100px;
  margin-bottom:50px;
  font-weight: 600;
  -webkit-column-span: all; 
 
} 



               /*    END TEXT BLOCK*/







#middle img{
width: 100%;

}

#middle-text1{

	width: 37%;
	
	/*height: 200px;*/
	margin-top:-25%;
	margin-left: 13.222%;
	
}
#middle-text2 p{
	width: 25%;
	max-height: 20px; 
	font-size: 0.8em;	
    font-weight: 100;
	margin-top:0%;
	margin-left: 18%;
	color:#D3D3D3;
	overflow: hidden;
	
}


      /*  green part*/

.container-gr{
	width: 100%;
	
	background-color: #66CDAA;
	border-bottom: 1px solid #66CDAA;
}  
.gr-wrap{
	max-width: 1170px;
	margin:0 auto;
	
} 

.container-gr h1{

	color:#FFFAFA;
    margin-top:100%;
    font-weight: 600;
    padding:10px;
}  
.gr-flex-container{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
    margin-bottom:15%;
	
	
} 
.gr-text-block{
width: 370px;
/*border:1px solid red;*/

}

.gr-text-block p{
	padding:10px;
margin-top:30px;
color:#FFFAFA;
line-height: 1.5em;
}

             /*   end green part    */
           /*  grey part*/

    .conteiner-grey{
    	width: 100%;
    	/*height: 1000px;*/
    	background-color: #E8E8E8;
    	
    }  
    .wrapper-grey{
    		display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 1170px;
    margin:0 auto;
   /* border:1px solid red;*/
    }
    .left-block{
    width:570px;
   /* height: 375px;*/
    
    max-width:auto;
    margin-top:100px ;
   
    overflow:hidden;	
    }	
    .right-block{
    	 width: 570px;
    	 /*height: 375px;*/
    	 /*border:1px solid black;*/
    	 background-color: white;	
    	margin-bottom: 100px;
    	overflow:hidden;	
    }
.right-block img{
	padding:50px;
}
 .left-block img{
 	padding:50px;
 }

            /*   end  grey part*/

         /*   footer*/
.footer p  {
	font-weight: 600;
	padding:10px;
}

.footer{
	width: 100%;
	
	background-color: black;
} 
.wrapper-footer{
    		display: -webkit-flex; 
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    align-items: baseline;
    margin:0 auto;
   /* border:1px solid red;*/
 } 

 .footer-left-block{
max-width: 570px;
/*border:1px solid red;*/
color:#B5B5B5;
margin-top:150px;

 }  
.footer-left-block p{
	line-height: 4em;
}
.footer-left-block p +p{
	line-height: 1.5em;
}
 .footer-right-block {
max-width: 470px;
/*border:1px solid red;*/
color:#B5B5B5;
 }  
 #hei{
	line-height: 4em;
	color:#B5B5B5;
}
.footer-right-block   p{
	line-height: 1.5em;
	max-width: 300px;
	color:#2F4F4F;
	font-weight: 100;
	padding:10px;

}
#textarea{
/*border:2px solid green;	*/
display: flex;
align-items: stretch;
}
#cols{
 width:29vw;
 min-width: 5vw;
 height: 58px;
 border:none;
 margin-left:10px;
}
#textarea img{
position:relative;
top:-1px;
}
#nav{
/*border:1px solid white;*/
margin-top:50px;

}

#nav-list{
	/*border:1px dashed pink;*/
	max-width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 150px;
}
ul{
	list-style-type: none;
	line-height: 2em;
	font-weight: 600;
	padding:10px;
}
a {
	text-decoration: none;
	color:#B5B5B5;
}
li a:hover{
	font-size:1.1em;
	}
